html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/


/* &&&& global styles &&&& */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', Helvetica, sans-serif;
}


/* &&&& side-menu styles &&&& */
#side-menu {
  background: #194769;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}
nav {
  padding-top: 100px;
}
nav a {
  display: block;
  color: #f6f6f9;
  text-decoration: none;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  background: #364f6b;
  padding: 15px 30px 15px 25px;
}
a.active .fa {
  color: #f2855e;
}
a .fa {
  color: #f6f6f9;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 25px;
  position: relative;
  top: 2px;
}
.active {
  background: #364f6b;
  border-left: 5px solid #3f72af;
  padding-left: 15px 30px 15px 25px;
}


/* &&&& header styles &&&& */
header {
  margin-left: 280px;
  padding: 20px;
  background: #f6f6f9;
}
.user-area {
  float: right;
  padding-right: 20px;
  margin: -12px;
}
.user-area a {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
  height: 1px;
  color: #194769;
}
.user-area a:hover {
  color: #f2855e;
}
.create-button {
  font-size: 16px;
  font-weight: 500;
  margin-left: 40px;
}
.create-button .fa {
  color: #194769;
}
.create-button .fa:hover {
  color: #f2855e;
}


#main-content {
  margin: 100px 0 0 300px;
  display: flex;
}
.profile-info-container {
  display: block;
  padding: 10px;
}
.contact-info-container {
  display: block;
  padding: 10px 15px 25px 10px;
}
.contact-info-container h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact-info-container ul {
  display: inline-block;
  list-style: none;
  margin: 1px 2px 1px 2px;
}
.contact-info-container li {
  float: left;
  width: 85%;
  margin-top: 20px;
  text-align: left;
}
.info {
  margin-left: 30%;
  text-align: left;
}
.profile-container {
  display: block;
  float: right;
  top: 0;
  width: 50%;
}

.avatar-container {
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
  width: 85%;
  margin: 0 auto;
  text-transform: uppercase
}
