html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/


/* &&&& global styles &&&& */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', Helvetica, sans-serif;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
h2 ~ p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}


/* &&&& header styles &&&& */
.header {
  background-color: #194769;
  width: 100%;
}
/* navigation menu styles */
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1.5px solid #f2855e;
  padding-left: 1em;
}
.header-nav a {
  color: #f6f6e9;
  text-decoration: none;
}
.nav-links a {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
  color: #f2855e;
}
/* header logo styles */
.header-logo {
  background-color: transparent;
  display: block;
  height: 11vh;
  left: 30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 12.5vh;
}
.logo-cover {
  padding: 2px;
  background-size: contain;
  color: #f2855e;
}
.logo-cover:hover {
  color: #d7eef2;
  transition: 0.4s ease-in-out;
}


/* &&&& footer styles &&&& */
.footer {
  background-color: #194769;
  padding: 5vh 0 10vh;
  text-align: center;
}
/* social-media list */
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}
.social-link {
  background-color: #194769;
  border-radius: 99px;
  color: #e7e7de;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  height: 1em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}
.social-link:hover {
  color: #f2855e;
  transition: all .3s ease;
}


/* &&&& hero styles &&&& */
.full-hero {
  background-color: #e7e7de;
  background-size: cover;
  height: 90vh;
  padding-top: 10vh;
}
.full-hero:after {
  border: 10px solid;
  border-color: #f6f6e9 transparent transparent;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
/* site banner photo */
.hero-home {
  background-image: url(https://user-images.githubusercontent.com/12225152/47937354-baa1b300-dee0-11e8-941c-549166dad873.jpg);
  background-position: center top;
}
.hero-content {
  color: #d7eef2;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: #e7e7de;
  font-size: 7vw;
  font-weight: 200;
  margin-bottom: 0.25em;
}
.hero-content p {
  margin-bottom: 1em;
}
.hero-content a {
  border: 3px solid #f6f6e9;
  border-radius: 3px;
  display: inline-block;
  color: #f6f6e9;
  font-size: 28px;
  margin-right: 20px;
  padding: 15px 30px;
  text-decoration: none;
}
.hero-content a:hover,
.hero-content a:active {
  background-color: #f2855e;
  transition: all 0.3s ease-in;
}


/* &&&& homepage callout styles &&&& */
.home-callout {
  margin: 5rem auto;
  max-width: 980px;
  width: 90vw;
}
.home-callout h2 {
  color: #00587a;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
/* features section */
.feature-wrapper {
  font-size: 24px;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
}
.feature-box {
  float: left;
  font-size: 1rem;
  margin: 4rem 0 0;
  padding: 0 3%;
  width: 33%;
}
.feature-box h3 {
  color: #194769;
  font-size: 1.5em;
  margin: 35px 0 1em;
  text-align: justify;
  text-transform: uppercase;
}


/* &&&& sign-up form styles &&&& */
#signup-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 450px;
  background: #f6f6e9;
  border-radius: 2px;
  box-shadow: 0 2px 4px #00587a;
}
/* LHS section */
.left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  width: 300px;
  height: 400px;
}
.left a {
  text-decoration: none;
}
.left h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
.left input[type="text"],
.left input[type="password"] {
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #00587a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
.left input[type="text"]:focus,
.left input[type="password"]:focus {
  border-bottom: 2px solid #00587a;
  color: #00587a;
  transition: 0.2s ease;
}
.left input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #00587a;
  border: none;
  border-radius: 2px;
  color: #f6f6e9;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.left input[type="submit"]:hover,
.left input[type="submit"]:focus {
  opacity: 1;
  box-shadow: 0 1px 2px #00587a;
  transition: 0.1s ease;
}
.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #d7eef2;
  border-radius: 50%;
  box-shadow: 0 2px 4px #194769;
  line-height: 40px;
  text-align: center;
}
/* RHS section */
.right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}
.right .login-alt {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #f6f6e9;
  text-align: center;
}
/* buttons section */
button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  color: #f6f6e9;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px #194769;
  transition: 0.2s ease;
}
button.social-signin.facebook {
  background: #32508e;
}
button.social-signin.twitter {
  background: #55acee;
}
button.social-signin.google {
  background: #dd4b39;
}


/* &&&& sign-in modal styles &&&& */
#signin-modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.signin-form-content {
  position: relative;
  background: #ffffff;
  right: -470px;
  margin-top: 11.5vh;
  margin-left: 34vw;
  margin-bottom: 0;
  width: 400px;
  padding: 10px 50px 50px;
}
.group {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #32508e;
}
input:focus {
  outline: none;
}
label {
  color: #194769;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: -17px;
  font-size: 13px;
  color: #194769;
}
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #32508e;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to {
    width:0;
    background:transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to {
    width:0;
    background:transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background:#5264AE;
  }
  to {
    width:0;
    background:transparent;
  }
}
button {
  /* color: #194769; */
  height: 30px;
  background: #d7eef2;
  border: none;
  border-radius: 2px;
  font-family: 'Rubik Light';
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 2px;
}
button:hover,
button:focus {
  color: #dd4b39;
}
button a {
  text-decoration: none;
}
